<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Reset Password</title>
</head>

<body>
          <h2>Password Reset</h2>
          {% if messages %}
          {% for message in messages %}
          <div>{{ message }}</div>
          {% endfor %}
          {% endif %}
          <form method="post">
                    {% csrf_token %}
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="question_1">{{ user.security_question_1 }}</label><br>
                    <input type="text" id="question_1" name="question_1"><br>
                    <label for="answer_1">Answer:</label><br>
                    <input type="text" id="answer_1" name="answer_1"><br>
                    <label for="question_2">{{ user.security_question_2 }}</label><br>
                    <input type="text" id="question_2" name="question_2"><br>
                    <label for="answer_2">Answer:</label><br>
                    <input type="text" id="answer_2" name="answer_2"><br>
                    <label for="question_3">{{ user.security_question_3 }}</label><br>
                    <input type="text" id="question_3" name="question_3"><br>
                    <label for="answer_3">Answer:</label><br>
                    <input type="text" id="answer_3" name="answer_3"><br>
                    <input type="submit" value="Submit">
          </form>
</body>

</html>